<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <img src="assets/nascowhite.png" alt="NASCOTECH LOGO" />
      <p>NASCOTECH code made in Africa(Ghana)</p>
      <div class="contact">
        <span> <i class="fas fa-phone"></i>&nbsp; +233 540 040 8089 </span>
        <span> <i class="fas fa-envelope"></i>&nbsp; nascotech.io </span>
      </div>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="menu">Menu</a></li>
        <li><a href="#">Your order</a></li>
        <li><a routerLink="admin">Admin</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; Copyrights 2024 | Nascotech Bootcamp Group One | All Rights reserved
  </div>
</footer>
