.footer{
    background-color: #25255b;
    color: #fff;
    width: 100%;
    box-shadow:  0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
  }

  p ,span,a {
    font-size: 0.9rem;
  }

  .footer-section {
    flex: 1;
    padding: 10px;
  }

  img {
    height: 50px;
    margin-right: 10px;
 }

  .contact span {
    display: block;
    margin: 5px 0;
  }

  .footer-section.links ul {
    list-style: none;
    padding: 0;
  }

  .footer-section.links ul a {
    color: #fff;
    border-bottom: 1px solid #ccc;
    transition: color 0.3s;
    text-decoration: none;
  }

  .footer-section.links ul a:hover {
    color: #3d3d87;
  }


.footer-bottom {
    background-color: #0e0e41;
    text-align: left;
    padding: 15px;
    font-size: 0.8rem;
  }